$dark_green: #33691e;

.notification {
  position: relative;
  width: 100%;
  max-width: 700px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 0.5rem 0.75rem;
  border: 1px solid #e3e3e3;
  font-weight: 300;

  strong {
    font-weight: bold;
  }

  &.warning {
    border: 1px solid #ffd600;
    background-color: #fffde7;
    color: #ff9100;
  }

  &.success {
    border: 1px solid $dark_green;
    background-color: #f1f8e9;
    color: $dark_green;
  }

  button {
    position: absolute;
    border: 0;
    background: 0;
    bottom: 0.25rem;
    right: 0.25rem;
    padding: 0;
    text-transform: uppercase;
    font-size: 1rem;
    color: $dark_green;

    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
      outline: 0;
      color: darken($dark_green, 15%);
    }
  }
}
