.matches_list {
  width: 100%;
}

.matches {
  .button.ghost_button {
    margin-bottom: 1rem;
  }
}

.matches_topbar {
  display: block;
  width: 100%;
}
.no_matches_message {
  text-align: center;
  h3 {
    font-weight: 300;
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
  p {
    font-weight: 300;
    font-size: 1.125rem;
    margin-bottom: 1rem;
  }
}
