$primary_color: #799f0c;

.pg_width {
  width: 100%;
  max-width: 1400px;
  display: block;
  margin: 0 auto;
  padding: 1.325rem 1.125rem;
}

.flex_container,
.pg_width.flex_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex_card {
  width: 32%;
  box-sizing: border-box;
}

h1 {
  font-size: 2.125rem;
  font-weight: 300;
  color: $primary_color;
  position: relative;
  &:after {
    content: '';
    height: 5px;
    width: 80px;
    background-color: $primary_color;
    position: absolute;
    bottom: -10px;
    left: 0;
  }
}

@media screen and (max-width: 1440px) {
  .flex_card {
    width: 49%;
  }
}

@media screen and (max-width: 699px) {
  .flex_card {
    width: 100%;
  }
}
