$primary_color: #799f0c;

.pg_width {
  width: 100%;
  max-width: 1400px;
  display: block;
  margin: 0 auto;
  padding: 1.325rem 1.125rem;
}

.flex_container,
.pg_width.flex_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex_card {
  width: 32%;
  box-sizing: border-box;
}

h1 {
  font-size: 2.125rem;
  font-weight: 300;
  margin-top: 0.75rem;
  margin-bottom: 1.75rem;
  padding-bottom: 10px;
  color: $primary_color;
  position: relative;

  &:after {
    content: '';
    height: 5px;
    width: 80px;
    background-color: $primary_color;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

label {
  font-weight: 300;
  margin-bottom: 0.5rem;
  font-size: 0.925rem;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1440px) {
  .flex_card {
    width: 49%;
  }
}

@media screen and (max-width: 699px) {
  .flex_card {
    width: 100%;
  }
}
