.pg_width {
  width: 100%;
  max-width: 1400px;
  display: block;
  margin: 0 auto;
  padding: 1.325rem 1.125rem;
}

.flex_container, .pg_width.flex_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex_card {
  width: 32%;
  box-sizing: border-box;
}