$yellow: #ffd600;

.match_card {
  border: 1px solid #e3e3e3;
  border-radius: 2px;
  padding: 0.75rem 0.825rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  position: relative;

  .course_info {
    margin-top: 0.5rem;
    span {
      margin-bottom: 0;
    }
  }
}

h3 {
  font-size: 1.125rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.course_location,
.course_par {
  font-size: 1rem;
  font-weight: 300;
  display: block;
}

.match_date {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  font-weight: 300;
  font-size: 0.825rem;
}

.match_holes_played {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  font-weight: 300;
}

.match_card .score {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  font-size: 1.325rem;
  color: #799f0c;
  text-align: center;

  .incomplete {
    .button {
      margin-bottom: 0;
    }

    strong,
    span {
      font-size: 0.875rem;
      display: inline;
      color: $yellow;
    }
  }
}

.score span {
  display: block;
  font-size: 0.825rem;
  text-align: center;
  color: #222;
}
