.app_header {
  padding: 0.5rem 0;
  background: #799f0c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #acbb78,
    #799f0c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #acbb78,
    #799f0c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.app_title {
  margin: 0;
  color: #fff;
}

.app_header .pg_width {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
