.authenticate_container {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  display: block;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.authenticate_btns {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
